.additional-product-card {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 294px 214px 52px 244px;
    column-gap: 30px;
    align-items: center;
  }
}

.additional-product-card__title {
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $dark-grey;
  text-transform: uppercase;
}

.additional-product-card__amount {
  margin: 0;

  font-family: $secondary-font;
  line-height: 14px;
  color: $grey;
}

.additional-product-card__description {
  padding: 0;
  margin: 0;

  font-family: $secondary-font;
  line-height: 14px;
  color: $grey;
}

.additional-product-card__button {
  height: 40px;
  width: 100%;
}
