.additional-products {
  padding: 25px 20px 35px;
}

.additional-products__title {
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.additional-products__offer {
  padding: 58px 61px 43px 58px;
  background-image: url("../../img/special-offer-cat.jpg");
  background-repeat: no-repeat;
  background-size: 280px 290px;
}

.additional-products__text {
  position: relative;

  padding-top: 128px;
  margin: 0;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  &::before {
    position: absolute;
    top: 0;
    left: 43px;
    width: 78px;
    height: 80px;

    background-image: url("../../img/gift.svg");
    content: "";
  }
}
