.additional-product-card {
  padding: 13px 0 19px;
}

.additional-product-card__title {
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $dark-grey;
}

.additional-product-card__list {
  margin: 0;
}

.additional-product-card__item {
  font-family: $secondary-font;
  line-height: 14px;
  color: $grey;
}

.additional-product-card__description {
  padding: 0;
  margin: 0;

  font-family: $secondary-font;
  line-height: 14px;
  color: $grey;
}
