.address {
  min-height: 112px;
  padding: 26px 20px;

  &--inner {
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    height: 199px;
    padding: 56px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    height: 198px;
    padding: 56px 80px;

    &--inner {
      background-color: $white;
    }
  }
}

.address__call {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: $dark;
  text-transform: uppercase;
}

.address__description {
  margin: 0;

  font-style: normal;
  font-family: $secondary-font;
  line-height: 20px;
  color: $grey;
}
