.address {
  box-sizing: border-box;
  min-height: 112px;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    height: 199px;
    display: flex;
    justify-content: space-between;
    padding: 56px 70px;
  }
}

.address__call {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: $dark;
  text-transform: uppercase;
}

.address__description {
  margin: 0;

  font-style: normal;
  font-family: $secondary-font;
  line-height: 20px;
  color: $grey;
}
