.button {
  display: block;
  padding: 11px 0;
  width: 100%;

  font-family: $primary-font;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button--primary {
  background-color: $green;
  text-transform: uppercase;
  color: $white;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: fade-out($white, 0.7);
  }
}

.button--secondary {
  background-color: $basic-grey;
  text-transform: uppercase;
  color: $grey;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: fade-out($grey, 0.7);
  }
}
