.contacts {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0 auto;
}

.contacts__container-wrapper {
  width: 100%;

  &--inner {
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: calc(50vw - 610px);

    width: 565px;
    height: 198px;

    background-color: $white;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: 139px 139px;
  gap: 2px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 163px 155px;
    column-gap: 87px;
  }
}

.contacts__map {
  position: relative;

  height: 362px;

  z-index: -1;

  &::before {
    position: absolute;
    top: calc(50% - 42px);
    left: calc(50% - 26px);

    width: 57px;
    height: 53px;

    background-image: url("../img/map-mark.svg");
    background-size: 57px 53px;

    content: "";
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;

    &::before {
      top: calc(50% - 54px);
      left: calc(50% - 51px);

      width: 113px;
      height: 106px;

      background-size: 113px 106px;
    }
  }
}

.contacts iframe {
  display: block;
  border: none;

  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__map--no-js {
  background-image: url("../img/map-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");
  }
}
