.example {
  position: relative;

  min-height: 700px;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    min-height: 1080px;

    background-image: linear-gradient(to bottom, $white, $white 619px, $basic-grey 619px, $basic-grey);

    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: -1px;

      height: 1px;
      background-color: #e6e6e6;

      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 641px;

    background-image: linear-gradient(to bottom, $white, $white 179px, $basic-grey 179px, $basic-grey);

    &::before {
      display: none;
    }
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  padding: 25px 20px 40px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 43px 29px 56px 31px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;

    width: 1440px;
    padding: 43px 110px 70px;
  }
}

.example__container {
  display: flex;
  flex-direction: column;

  margin-left: -1px;
}

.example__title {
  margin: 0 0 40px;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__story {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-family: $secondary-font;
  color: $grey;
  overflow-wrap: normal;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example__toggler {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.example__image-container {
  position: relative;

  width: 280px;
  height: 232px;
  margin: 0 auto 15px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
    margin-bottom: 29px;
  }
}

.example__image {
  position: absolute;
  top: 0;

  display: inline-block;
  width: 280px;
  height: 232px;

  background-repeat: no-repeat;
  background-size: auto 232px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
  }
}

.example__image--cat-before {
  left: 0;

  background-image: url("../img/cat-before-mobile.png");
  background-position: left top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-before-mobile@2x.png");
    background-size: 280px 232px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat-before-tablet.png");
    background-size: auto 505px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-before-tablet@2x.png");
    }
  }
}

.example__image--cat-after {
  right: 0;

  background-image: url("../img/cat-after-mobile.png");
  background-position: right -15px top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-after-mobile@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat-after-tablet.png");
    background-position: right top;
    background-size: auto 511px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-after-tablet@2x.png");
    }
  }
}
