.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    min-height: 1080px;
    background-image: linear-gradient(to bottom, $white, $white 619px, $basic-grey 619px, $basic-grey);
  }

  @media (min-width: $desktop-width) {
    min-height: 641px;
    background-image: linear-gradient(to bottom, $white, $white 179px, $basic-grey 179px, $basic-grey);
  }
}

.example__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 25px 20px 40px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 45px 30px 56px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 43px 110px 70px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.example__container {
  display: flex;
  flex-direction: column;
}

.example__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__story {
  padding: 0;
  margin: 0;
  font-family: $secondary-font;
  color: $grey;
}

.example__total {
  margin: 0;
  line-height: 20px;
}
