$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;
$black: #000000;
$dark: #111111;
$dark-grey: #222222;
$grey: #444444;
$classic-grey: #666666;
$light-grey: #cdcdcd;
$light: #d9d9d9;
$special-grey: #e7e7e7;
$basic-grey: #f2f2f2;
$white: #ffffff;
$green: #68b738;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: $white;
  color: $black;
}
