.index-toggler {
  margin: 0;
  padding: 0;
}

.index-toggler__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 105px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 296px;
    height: 40px;
  }
}

.index-toggler__description {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 70px;

    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}

.index-toggler__mark {
  position: relative;

  width: 43px;
  height: 14px;

  background-color: $white;
  border: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.index-toggler__label--left {
  & .index-toggler__mark {
    order: -1;

    border-radius: 6px 0 0 6px;
    border-right: none;
  }

  & .index-toggler__description {
    order: -2;
  }

  & .index-toggler__input:checked + .index-toggler__mark::before {
    left: 5px;
  }
}

.index-toggler__label--right {
  & .index-toggler__mark {
    border-radius: 0 6px 6px 0;
    border-left: none;
  }

  & .index-toggler__input:checked + .index-toggler__mark::before {
    right: 5px;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.index-toggler__input:checked + .index-toggler__mark::before {
  position: absolute;
  top: 3px;

  width: 36px;
  height: 6px;

  background-color: $green;
  border-radius: 6px;

  content: "";
}
