.info {
  width: 320px;
  min-height: 449px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 49px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 781px;
    padding: 45px 105px 45px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 469px;
    padding: 71px 110px 26px;
  }
}

.info__title {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 60px;
  }
}

.info__list {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 247px 249px;
    row-gap: 37px;
    column-gap: 137px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    column-gap: 77px;
  }
}
