.logo {
  display: flex;

  &:hover .logo__mobile,
  &:hover .logo__tablet,
  &:hover .logo__desktop {
    fill-opacity: 0.8;
  }

  &:active .logo__mobile,
  &:active .logo__tablet,
  &:active .logo__desktop {
    fill-opacity: 0.6;
  }
}

.logo__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo__mobile--text {
  align-self: center;

  margin: 7px auto 0 56px;
}
