.main-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 20px 17px;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-header__logo {
  align-self: center;
}
