.main-footer {
  padding: 20px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  fill: #666666;
}

.copyright__title {
  margin: 0;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #444444;
}

.copyright__link {
  fill: #666666;
}
