.main-navigation {
  position: relative;
}

.main-navigation__toggle {
  width: 38px;
  height: 38px;

  background-image: url("../../img/burger-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  position: absolute;
  right: -20px;

  @media (min-width: $tablet-width) {
    position: static;
  }
}
