.main-form__explanation {
  padding: 0;
  margin: 0;

  font-family: $secondary-font;
  line-height: 16px;
}

.main-form__title {
  font-size: 24px;
  line-height: 26px;
}

.main-form__button {
  margin: 0 auto;
}
