.main-form {
  width: 100%;
}

.main-form__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.main-form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 568px 570px;
    column-gap: 80px;

    padding: 0 111px 0 112px;
  }
}

.main-form__group {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;

  border: none;

  &--info {
    margin-bottom: 23px;
  }

  &--program-type {
    padding: 28px 21px 24px 19px;

    border: 1px solid $light;
  }

  &--contacts {
    padding: 0 20px;
  }

  &--additional {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 67px 0 70px;

    &--info {
      padding-left: 71px;
      margin-bottom: 72px;
    }

    &--program-type {
      width: auto;
      margin: 0 67px 0 71px;
      padding: 29px 28px;

      border-color: $special-grey;
    }

    &--contacts {
      padding: 0 66px 0 68px;
    }

    &--additional {
      margin-bottom: 59px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;

    &--info {
      margin-bottom: 0;
    }

    &--program-type {
      margin: 0;
      padding: 29px 28px;
    }

    &--contacts {
      padding: 0 110px;
    }

    &--comment {
      padding: 0 110px;
    }

    &--additional {
      padding: 0 134px 0 110px;
      margin-bottom: 66px;
    }
  }
}

.main-form__title-conteiner {
  position: relative;

  margin: 0;

  &::before {
    position: absolute;
    top: 16px;

    width: 100%;
    height: 2px;

    background-color: $green;

    content: "";
    z-index: -1;
  }

  &--comment,
  &--additional {
    &::before {
      top: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 23px;
    }

    &--comment {
      &::before {
        top: 22px;
      }
    }

    &--additional {
      &::before {
        top: 23px;
      }
    }
  }
}

.main-form__title-wrapper {
  width: 320px;
  margin: 26px auto 34px;
  padding: 0 20px;

  &--comment {
    margin: 24px auto 37px;
  }

  &--additional {
    margin: 23px auto 39px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 74px auto 76px;
    padding: 0 69px;

    &--comment {
      margin: 65px auto 75px;
    }

    &--additional {
      margin: 65px auto 61px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 68px auto 76px;
    padding: 0 110px;

    &--comment {
      margin: 67px auto 75px;
    }

    &--additional {
      margin: 67px auto 61px;
    }
  }
}

.main-form__title {
  display: inline-block;

  width: min-content;
  padding: 0 20px 0 22px;
  margin: 0 0 0 -22px;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: $white;

  &--comment,
  &--additional {
    padding: 0 23px 0 22px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 40px 0 39px;
    margin-left: -39px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin-left: -40px;

    &--comment {
      padding: 0 42px 0 40px;
    }

    &--additional {
      padding: 0 41px 0 40px;
    }
  }
}

.main-form__button-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto 32px;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    width: 768px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin-bottom: 82px;
  }
}

.main-form__button {
  width: 280px;
  margin: 0 auto 21px;
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 282px;
    padding: 13px 0;
    margin: 0 0 0 71px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-left: 111px;
  }
}

.main-form__explanation {
  padding: 0;
  margin: 0;

  font-family: $secondary-font;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 0 0 4px 61px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 81px;
  }
}
