.main-header {
  padding: 10px 20px 17px;
}

.site-list {
  list-style-type: none;
}

.site-list__item {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__link {
  text-decoration: none;
  color: #000000;
}
