.main-header {
  padding: 10px 20px 17px;
}

.main-navigation__toggle {
  width: 38px;
  height: 38px;

  background-image: url("../../img/burger-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.site-list {
  list-style-type: none;
}

.site-list__item {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__link {
  text-decoration: none;
  color: #000000;
}
