.presentation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 27px 20px 20px;
  margin: 0 auto;

  background-image: url("../img/cat-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 30px;

    background-image: none;
    color: $black;
  }
}

.presentation__header {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.presentation__slogan {
  margin: 0;
  padding: 0;

  line-height: 14px;
  text-align: center;
}

.presentation__image {
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }
}

.presentation__button {
  align-self: center;
}
