.product-card {
  padding: 20px 20px 25px;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
  text-decoration: none;
}

.product-card__name {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.product-card__description {
  padding: 0;
  margin: 0;

  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}
