.product-card {
  position: relative;

  min-height: 209px;
  padding: 20px 20px 25px;

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 1px;
    background-color: $special-grey-2;

    content: "";
  }

  @media (min-width: $tablet-width) {
    min-height: 430px;
    padding: 0 37px 39px 39px;
    margin-top: 81px;

    background-color: $basic-grey;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px 39px;
  }
}

.product-card__link {
  position: absolute;
  top: 19px;
  left: 20px;

  @media (min-width: $tablet-width) {
    top: -73px;
    left: 78px;
  }

  @media (min-width: $desktop-width) {
    top: -80px;
    left: 39px;
  }
}

.product-card__title {
  width: 76px;
  margin: 0 0 14px 140px;

  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 150px;
    padding-top: 161px;
    margin: 0 auto 13px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 164px;
    margin: 0 8px 16px 10px;

    line-height: 21px;
  }
}

.product-card__list {
  display: grid;
  grid-template-columns: 50% 50%;

  margin: 0 0 22px 140px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto 33px;
  }

  @media (min-width: $desktop-width) {
    width: 166px;
    margin-left: 3px;
  }
}

.product-card__name {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $grey;

  @media (min-width: $tablet-width) {
    padding: 8px 0 7px;
    margin-left: -2px;

    font-size: 16px;
    border-bottom: 1px solid $light-grey;
  }
}

.product-card__description {
  padding: 0;
  margin: 0;

  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
  text-align: end;

  &:first-of-type {
    margin-right: 3px;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 0 7px;

    font-size: 16px;
    border-bottom: 1px solid $light-grey;
  }
}

.product-card__button {
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
}

.product-card--more {
  &::after {
    bottom: 1px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 81px;
    padding: 0 35px 36px 36px;

    background-color: $white;
    border: 2px solid $basic-grey;
  }
}

.product-card--more .product-card__title {
  position: relative;

  width: 100%;
  margin: 0 auto 8px;
  padding-top: 59px;

  color: $dark;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    top: 19px;
    left: 125px;

    width: 30px;
    height: 2px;

    background-color: $light-2;

    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover::before,
  &:hover::after {
    transform: scale(1.2);
    transition: transform 0.8s;
  }

  &:hover::after {
    transform: rotate(90deg) scale(1.2);
  }

  @media (min-width: $tablet-width) {
    width: 134px;
    padding-top: 160px;
    margin-bottom: 25px;

    line-height: 22px;

    &::before,
    &::after {
      top: 81px;
      left: 37px;

      width: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 159px;
    margin-bottom: 24px;

    &::before,
    &::after {
      top: 79px;
      left: 37px;
    }
  }
}

.product-card--more .product-card__description {
  margin: 0 auto 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 167px;
    padding: 0;
    margin: 0 auto 85px;

    line-height: 18px;
    border: none;
  }
}
