.products {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 110px 0;
  }
}

.products__header-wrapper {
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    height: 1px;

    background-color: $light;

    content: "";
  }

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 1px;

    background-color: #ebebeb;

    content: "";
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.products__header {
  width: 320px;
  padding: 27px 20px 32px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    margin-bottom: 82px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.products__list {
  width: 320px;
  padding: 0;
  margin: 0 auto;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;

    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    row-gap: 63px;
    column-gap: 80px;

    width: 1440px;
  }
}

.products__item {
  display: flex;
  flex-direction: column;
}
