.questionary {
  position: relative;

  width: 100%;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: -27px;

    height: 1px;
    background-color: $light;

    content: "";
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.questionary__title-wrapper {
  width: 320px;
  margin: 27px auto 39px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto 66px;
    padding: 0 69px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin-top: 47px;
    padding: 0 110px;
  }
}

.questionary__title {
  margin: 0 0 32px;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.questionary__description {
  width: 230px;
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 320px;
    font-size: 20px;
    line-height: 30px;
  }
}
