.questionary {
  padding: 27px 0 32px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 72px 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 110px 82px;
  }
}

.questionary__title {
  margin: 0;
  padding: 0 20px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.questionary__description {
  margin: 0;
  padding: 0 20px;

  text-transform: uppercase;
}
