.site-list {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.site-list__item {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $white;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.site-list__link {
  text-decoration: none;
  color: $black;
}
