.site-list {
  display: flex;
  display: none;
  flex-direction: column;
  width: 320px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-list__item {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $white;
}

.site-list__link {
  text-decoration: none;
  color: $black;
}
