.steps-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  counter-reset: item;
}

.steps-list__item {
  position: relative;

  height: 60px;
  padding: 0;
  padding-left: 80px;

  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 0 0;

  counter-increment: item;

  @media (min-width: $tablet-width) {
    height: 280px;
    padding-left: 0;
    padding-top: 150px;

    background-size: 80px 80px;
    background-position: 0 40px;

    &::after {
      position: absolute;
      top: 0;

      width: 120px;
      height: 280px;

      font-family: $primary-font;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;

      content: counter(item);
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    background-position: 1px 40px;
  }
}

.steps-list__item--leaf {
  background-image: url("../img/leaf-mobile.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/leaf-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/leaf-tablet.png");

    &::after {
      right: 9px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/leaf-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-position: -1px 40px;
  }
}

.steps-list__item--water {
  background-image: url("../img/water-mobile.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/water-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/water-tablet.png");

    &::after {
      right: 17px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/water-tablet@2x.png");
    }
  }
}

.steps-list__item--cultery {
  background-image: url("../img/cultery-mobile.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cultery-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/cultery-tablet.png");

    &::after {
      right: 14px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cultery-tablet@2x.png");
    }
  }
}

.steps-list__item--clock {
  background-image: url("../img/clock-mobile.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/clock-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/clock-tablet.png");

    &::after {
      right: 16px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/clock-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: 13px;
    }
  }
}

.steps-list__text {
  display: inline-block;

  margin-top: 2px;

  font-family: $secondary-font;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
